# Data Sources
*.h5 filter=lfs diff=lfs merge=lfs -text
*.hdf5 filter=lfs diff=lfs merge=lfs -text
*.pytables filter=lfs diff=lfs merge=lfs -text
*.h5py filter=lfs diff=lfs merge=lfs -text
*.json filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.yaml filter=lfs diff=lfs merge=lfs -text
*.bson filter=lfs diff=lfs merge=lfs -text
*.tsv filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.dif filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
*.alf filter=lfs diff=lfs merge=lfs -text
*.sqlitedb filter=lfs diff=lfs merge=lfs -text
*.sqlite3 filter=lfs diff=lfs merge=lfs -text
*.cdb filter=lfs diff=lfs merge=lfs -text
*.nyf filter=lfs diff=lfs merge=lfs -text
*.sqlite filter=lfs diff=lfs merge=lfs -text
*.mdf filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.gdb filter=lfs diff=lfs merge=lfs -text
*.accde filter=lfs diff=lfs merge=lfs -text
*.accdt filter=lfs diff=lfs merge=lfs -text
*.adf filter=lfs diff=lfs merge=lfs -text
*.dxl filter=lfs diff=lfs merge=lfs -text
*.fpt filter=lfs diff=lfs merge=lfs -text
*.gdb filter=lfs diff=lfs merge=lfs -text
*.hdb filter=lfs diff=lfs merge=lfs -text
*.mwb filter=lfs diff=lfs merge=lfs -text
*.pdm filter=lfs diff=lfs merge=lfs -text
*.sas7bdat filter=lfs diff=lfs merge=lfs -text
*.te filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.fp7 filter=lfs diff=lfs merge=lfs -text
*.ask filter=lfs diff=lfs merge=lfs -text
*.itdb filter=lfs diff=lfs merge=lfs -text
*.dp1 filter=lfs diff=lfs merge=lfs -text
*.fic filter=lfs diff=lfs merge=lfs -text
*.usr filter=lfs diff=lfs merge=lfs -text
*.sis filter=lfs diff=lfs merge=lfs -text
*.dbs filter=lfs diff=lfs merge=lfs -text
*.dsn filter=lfs diff=lfs merge=lfs -text
*.edb filter=lfs diff=lfs merge=lfs -text
*.sdf filter=lfs diff=lfs merge=lfs -text
*.cdb filter=lfs diff=lfs merge=lfs -text
*.fdb filter=lfs diff=lfs merge=lfs -text
*.sql filter=lfs diff=lfs merge=lfs -text
*.trm filter=lfs diff=lfs merge=lfs -text
*.udl filter=lfs diff=lfs merge=lfs -text
*.v12 filter=lfs diff=lfs merge=lfs -text
*.wdb filter=lfs diff=lfs merge=lfs -text
*.wmdb filter=lfs diff=lfs merge=lfs -text
*.frm filter=lfs diff=lfs merge=lfs -text
*.dbf filter=lfs diff=lfs merge=lfs -text
*.idb filter=lfs diff=lfs merge=lfs -text
*.accdb filter=lfs diff=lfs merge=lfs -text
*.qvd filter=lfs diff=lfs merge=lfs -text
*.abs filter=lfs diff=lfs merge=lfs -text
*.$ filter=lfs diff=lfs merge=lfs -text
*.4dl filter=lfs diff=lfs merge=lfs -text
*.crypt12 filter=lfs diff=lfs merge=lfs -text
*.crypt6 filter=lfs diff=lfs merge=lfs -text
*.crypt8 filter=lfs diff=lfs merge=lfs -text
*.dad filter=lfs diff=lfs merge=lfs -text
*.dtsx filter=lfs diff=lfs merge=lfs -text
*.fmp12 filter=lfs diff=lfs merge=lfs -text
*.fp3 filter=lfs diff=lfs merge=lfs -text
*.jet filter=lfs diff=lfs merge=lfs -text
*.mar filter=lfs diff=lfs merge=lfs -text
*.nnt filter=lfs diff=lfs merge=lfs -text
*.pan filter=lfs diff=lfs merge=lfs -text
*.rod filter=lfs diff=lfs merge=lfs -text
*.rpd filter=lfs diff=lfs merge=lfs -text
*.teacher filter=lfs diff=lfs merge=lfs -text
*.tmd filter=lfs diff=lfs merge=lfs -text
*.trc filter=lfs diff=lfs merge=lfs -text
*.udb filter=lfs diff=lfs merge=lfs -text
*.crypt7 filter=lfs diff=lfs merge=lfs -text
*.nsf filter=lfs diff=lfs merge=lfs -text
*.4dd filter=lfs diff=lfs merge=lfs -text
*.mdb filter=lfs diff=lfs merge=lfs -text
*.dbc filter=lfs diff=lfs merge=lfs -text
*.ib filter=lfs diff=lfs merge=lfs -text
*.mpd filter=lfs diff=lfs merge=lfs -text
*.ihx filter=lfs diff=lfs merge=lfs -text
*.lgc filter=lfs diff=lfs merge=lfs -text
*.maq filter=lfs diff=lfs merge=lfs -text
*.mav filter=lfs diff=lfs merge=lfs -text
*.ndf filter=lfs diff=lfs merge=lfs -text
*.ddl filter=lfs diff=lfs merge=lfs -text
*.kdb filter=lfs diff=lfs merge=lfs -text
*.xld filter=lfs diff=lfs merge=lfs -text
*.sdb filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.scx filter=lfs diff=lfs merge=lfs -text
*.sdb filter=lfs diff=lfs merge=lfs -text
*.db3 filter=lfs diff=lfs merge=lfs -text
*.sdb filter=lfs diff=lfs merge=lfs -text
*.sdb filter=lfs diff=lfs merge=lfs -text
*.accdc filter=lfs diff=lfs merge=lfs -text
*.accdr filter=lfs diff=lfs merge=lfs -text
*.accdw filter=lfs diff=lfs merge=lfs -text
*.accft filter=lfs diff=lfs merge=lfs -text
*.adb filter=lfs diff=lfs merge=lfs -text
*.btr filter=lfs diff=lfs merge=lfs -text
*.cdb filter=lfs diff=lfs merge=lfs -text
*.ckp filter=lfs diff=lfs merge=lfs -text
*.cpd filter=lfs diff=lfs merge=lfs -text
*.crypt9 filter=lfs diff=lfs merge=lfs -text
*.daconnections filter=lfs diff=lfs merge=lfs -text
*.dacpac filter=lfs diff=lfs merge=lfs -text
*.daschema filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.db2 filter=lfs diff=lfs merge=lfs -text
*.dbv filter=lfs diff=lfs merge=lfs -text
*.dcb filter=lfs diff=lfs merge=lfs -text
*.dlis filter=lfs diff=lfs merge=lfs -text
*.eco filter=lfs diff=lfs merge=lfs -text
*.epim filter=lfs diff=lfs merge=lfs -text
*.fmpsl filter=lfs diff=lfs merge=lfs -text
*.gwi filter=lfs diff=lfs merge=lfs -text
*.itw filter=lfs diff=lfs merge=lfs -text
*.kexi filter=lfs diff=lfs merge=lfs -text
*.marshal filter=lfs diff=lfs merge=lfs -text
*.mdbhtml filter=lfs diff=lfs merge=lfs -text
*.mdt filter=lfs diff=lfs merge=lfs -text
*.nrmlib filter=lfs diff=lfs merge=lfs -text
*.odb filter=lfs diff=lfs merge=lfs -text
*.oqy filter=lfs diff=lfs merge=lfs -text
*.ora filter=lfs diff=lfs merge=lfs -text
*.orx filter=lfs diff=lfs merge=lfs -text
*.p97 filter=lfs diff=lfs merge=lfs -text
*.pnz filter=lfs diff=lfs merge=lfs -text
*.spq filter=lfs diff=lfs merge=lfs -text
*.tps filter=lfs diff=lfs merge=lfs -text
*.trc filter=lfs diff=lfs merge=lfs -text
*.xdb filter=lfs diff=lfs merge=lfs -text
*.xmlff filter=lfs diff=lfs merge=lfs -text
*.rsd filter=lfs diff=lfs merge=lfs -text
*.fp5 filter=lfs diff=lfs merge=lfs -text
*.myd filter=lfs diff=lfs merge=lfs -text
*.cat filter=lfs diff=lfs merge=lfs -text
*.nv filter=lfs diff=lfs merge=lfs -text
*.dcx filter=lfs diff=lfs merge=lfs -text
*.abcddb filter=lfs diff=lfs merge=lfs -text
*.dbt filter=lfs diff=lfs merge=lfs -text
*.dsk filter=lfs diff=lfs merge=lfs -text
*.ecx filter=lfs diff=lfs merge=lfs -text
*.maf filter=lfs diff=lfs merge=lfs -text
*.odb filter=lfs diff=lfs merge=lfs -text
*.rbf filter=lfs diff=lfs merge=lfs -text
*.adb filter=lfs diff=lfs merge=lfs -text
*.crypt5 filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
*.nv2 filter=lfs diff=lfs merge=lfs -text
*.p96 filter=lfs diff=lfs merge=lfs -text
*.sbf filter=lfs diff=lfs merge=lfs -text
*.vis filter=lfs diff=lfs merge=lfs -text
*.pdb filter=lfs diff=lfs merge=lfs -text
*.cma filter=lfs diff=lfs merge=lfs -text
*.^^^ filter=lfs diff=lfs merge=lfs -text
*.abx filter=lfs diff=lfs merge=lfs -text
*.ade filter=lfs diff=lfs merge=lfs -text
*.adn filter=lfs diff=lfs merge=lfs -text
*.adp filter=lfs diff=lfs merge=lfs -text
*.dadiagrams filter=lfs diff=lfs merge=lfs -text
*.dct filter=lfs diff=lfs merge=lfs -text
*.dqy filter=lfs diff=lfs merge=lfs -text
*.flexolibrary filter=lfs diff=lfs merge=lfs -text
*.his filter=lfs diff=lfs merge=lfs -text
*.jtx filter=lfs diff=lfs merge=lfs -text
*.kexic filter=lfs diff=lfs merge=lfs -text
*.kexis filter=lfs diff=lfs merge=lfs -text
*.mas filter=lfs diff=lfs merge=lfs -text
*.maw filter=lfs diff=lfs merge=lfs -text
*.mrg filter=lfs diff=lfs merge=lfs -text
*.mud filter=lfs diff=lfs merge=lfs -text
*.ns2 filter=lfs diff=lfs merge=lfs -text
*.ns3 filter=lfs diff=lfs merge=lfs -text
*.ns4 filter=lfs diff=lfs merge=lfs -text
*.owc filter=lfs diff=lfs merge=lfs -text
*.qry filter=lfs diff=lfs merge=lfs -text
*.rod filter=lfs diff=lfs merge=lfs -text
*.rodx filter=lfs diff=lfs merge=lfs -text
*.vpd filter=lfs diff=lfs merge=lfs -text
*.fcd filter=lfs diff=lfs merge=lfs -text
*.wrk filter=lfs diff=lfs merge=lfs -text
*.dbx filter=lfs diff=lfs merge=lfs -text
*.fm5 filter=lfs diff=lfs merge=lfs -text
*.fmp filter=lfs diff=lfs merge=lfs -text
*.fol filter=lfs diff=lfs merge=lfs -text
*.fp4 filter=lfs diff=lfs merge=lfs -text
*.mdn filter=lfs diff=lfs merge=lfs -text
*.rctd filter=lfs diff=lfs merge=lfs -text


#Images
*.ase filter=lfs diff=lfs merge=lfs -text
*.art filter=lfs diff=lfs merge=lfs -text
*.blp filter=lfs diff=lfs merge=lfs -text
*.bmp filter=lfs diff=lfs merge=lfs -text
*.bti filter=lfs diff=lfs merge=lfs -text
*.cd5 filter=lfs diff=lfs merge=lfs -text
*.cit filter=lfs diff=lfs merge=lfs -text
*.cpt filter=lfs diff=lfs merge=lfs -text
*.cr2 filter=lfs diff=lfs merge=lfs -text
*.cut filter=lfs diff=lfs merge=lfs -text
*.dds filter=lfs diff=lfs merge=lfs -text
*.dib filter=lfs diff=lfs merge=lfs -text
*.djvu filter=lfs diff=lfs merge=lfs -text
*.egt filter=lfs diff=lfs merge=lfs -text
*.exif filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.gpl filter=lfs diff=lfs merge=lfs -text
*.grf filter=lfs diff=lfs merge=lfs -text
*.icns filter=lfs diff=lfs merge=lfs -text
*.ico filter=lfs diff=lfs merge=lfs -text
*.iff filter=lfs diff=lfs merge=lfs -text
*.jng filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jp2 filter=lfs diff=lfs merge=lfs -text
*.jps filter=lfs diff=lfs merge=lfs -text
*.lbm filter=lfs diff=lfs merge=lfs -text
*.max filter=lfs diff=lfs merge=lfs -text
*.miff filter=lfs diff=lfs merge=lfs -text
*.mng filter=lfs diff=lfs merge=lfs -text
*.msp filter=lfs diff=lfs merge=lfs -text
*.nitf filter=lfs diff=lfs merge=lfs -text
*.otb filter=lfs diff=lfs merge=lfs -text
*.pbm filter=lfs diff=lfs merge=lfs -text
*.pc1 filter=lfs diff=lfs merge=lfs -text
*.pc2 filter=lfs diff=lfs merge=lfs -text
*.pc3 filter=lfs diff=lfs merge=lfs -text
*.pcf filter=lfs diff=lfs merge=lfs -text
*.pcx filter=lfs diff=lfs merge=lfs -text
*.pdn filter=lfs diff=lfs merge=lfs -text
*.pgm filter=lfs diff=lfs merge=lfs -text
*.pi1 filter=lfs diff=lfs merge=lfs -text
*.pi2 filter=lfs diff=lfs merge=lfs -text
*.pi3 filter=lfs diff=lfs merge=lfs -text
*.pict filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.pnm filter=lfs diff=lfs merge=lfs -text
*.pns filter=lfs diff=lfs merge=lfs -text
*.ppm filter=lfs diff=lfs merge=lfs -text
*.psb filter=lfs diff=lfs merge=lfs -text
*.psd filter=lfs diff=lfs merge=lfs -text
*.psp filter=lfs diff=lfs merge=lfs -text
*.px filter=lfs diff=lfs merge=lfs -text
*.pxm filter=lfs diff=lfs merge=lfs -text
*.pxr filter=lfs diff=lfs merge=lfs -text
*.qfx filter=lfs diff=lfs merge=lfs -text
*.raw filter=lfs diff=lfs merge=lfs -text
*.rle filter=lfs diff=lfs merge=lfs -text
*.sct filter=lfs diff=lfs merge=lfs -text
*.sgi filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.tiff filter=lfs diff=lfs merge=lfs -text
*.vtf filter=lfs diff=lfs merge=lfs -text
*.xbm filter=lfs diff=lfs merge=lfs -text
*.xcf filter=lfs diff=lfs merge=lfs -text
*.xpm filter=lfs diff=lfs merge=lfs -text
*.zif filter=lfs diff=lfs merge=lfs -text